body{
  background-color: #f8b319;
}

h1{
  text-align: center;
  color: #e0d4b8;
  text-shadow: 2px 2px #3a5054;
}


.mainInfo{
  /* background-color: #51779e; */
  /* color: #0f3d66; */
  background-color: #3a5054;
  color: #e0d4b8;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 0 #e0d4b8;
  padding: 30px;
  width: 50%;
  margin: auto;
}

.email{
  width: 100%;
}

.password{
  width: 100%;
}

.submitButton{
  width: 100%;
}