body{
  background-color: lightcoral;
}

h1{
  text-align: center;
  color: #e0d4b8;
  text-shadow: 2px 2px #3a5054;
}


.mainInfo{
  /* background-color: #51779e; */
  /* color: #0f3d66; */
  background-color: #3a5054;
  color: #e0d4b8;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 6px 10px 0 #e0d4b8;
  padding: 30px;
  width: 50%;
  margin: 200px auto;
}

.firstName{
  width: 100%;
}

.lastName{
  width: 100%;
}

.email{
  width: 100%;
}

.password{
  width: 100%;
}

.submitButton{
  width: 100%;
  /* border-radius: 40%; */
}

.accountSetup{
  text-align: center;
  margin: 5px;
}

.signUp{
  background-color: unset;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  border: none;
  color: #f8b319;
}

.personalTracker{
  background-color: #3a5054;
  padding: 30px;
  width: 50%;
  margin: 150px auto;
  box-sizing: border-box;
  border: solid 3px #e0d4b8;
}

.dashboard{
  display: flex;
  justify-content: space-between;
  color: #e0d4b8;
  text-shadow: 0px 2px 4px lightcoral;
}

.total{
  color: #e0d4b8;
  margin: 5px auto;
  text-shadow: 0px 2px 4px lightcoral;
  padding-bottom: 10px;
}

.newTransactionInfo{
  border-radius: 10px;
  background-color: lightcoral;
  margin: auto;
  padding: 10px;
  text-align: center;
  color: #e0d4b8;
  width: 100%;
  margin: auto;
  box-shadow: 0px 4px 10px #000000, 0px 4px 8px #e0d4b8;
  font-size: 12px;
}

.newTransactionInfo input{
  background-color: lightgrey;
  width: 100%;
  border: solid 1px grey;
  padding: 5px;
  font-size: 12px;
}
.newTransactionInfo select{
  cursor: pointer;
  width: 100%;
  border: solid 1px grey;
  padding: 5px;
  font-size: 12px;
}

.transCluster{
  display: flex;
  justify-content: center;
  padding-bottom:  5px;
}

.addNewTransaction {
  cursor: pointer;
  background-color: lightgrey;
  /* background-color: lightcoral; */
  text-align: center;
  padding: 7px;
}

.allTransactions{
  text-align: center;
  border-radius: 10px;
  margin: 20px 10px 0 10px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: lightcoral;
  box-shadow: 0px 4px 10px #000000, 0px 4px 8px #e0d4b8;
}

.list{
  text-decoration: #3a5054 underline;
  font-weight: bold;
}

ul{
  list-style: none;
}

li{
  color: #3a5054;
  font-weight: bold;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-between;
}

.signOut{
  background-color: lightcoral;
}